.register-container {
    margin-top: 20px;
}

.register-box h3 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.regendgreen {
    color: green;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}