<div class="flex-container-center">
    <div class="box-container">

        <section class="box">
            <div class="username-class-parent">
                <div class="username-class-child">
                    <p>
                            <?= studentName ?>
                    </p>
                </div>
            </div>
        </section>
        
        <section class="box">
            <div class="group">
                <?= group ?>
            </div>
        </section>
        <section>
        
            <div style="overflow-x:auto">
                <table class="student-table">
        
                    <thead class="student-table-head">
                        <tr class="student-table-head-row">
                            <? for(let column of tableHeader) { ?>
                                <th>
                                    <?= column ?>
                                </th>
                                <?}?>
                        </tr>
                    </thead>
                    <tbody class="student-table-body">
                        <? for(let [index, user] of info.entries()) { ?>
                            <tr class="student-table-body-row 
                            <? if (user.username == username ) 
                                {?> chosen-student 
                                    <?}else{?> 
                                        regular-student<?}?> ">
                                <td>
                                    <?= user.firstName ?>
                                </td>
                                <td>
                                    <?= user.lastName?>
                                </td>
                                <td>
                                    <?= user.classesMark?> /10
                                </td>
                                <td>
                                    <?= user.gitMark?> /10
                                </td>
                                <td>
                                    <?= user.linkedinMark?> /10
                                </td>
                                <td>
                                     <?= user.finalMark?> /10
                                </td>
                                <td>
                                    <?= user.willPromote?>
                                </td>    
                            </tr>
                            <?}?>
                    </tbody>
                </table>
            </div>
        
        </section>
        
        <section>
        
            <div class="attendance-class">
                <p>
                    Note Laborator
                </p>
            </div>
        
            <table class="attendance-table">
                <thead class="attendance-table-head">
                    <tr class="attendance-table-head-row">
                        <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                            <th colspan="1">
                                W
                                <?= saptamana+1 ?>
                            </th>
                            <?}?>
                    </tr>
                </thead>
                <tbody class="attendance-table-body">
                    <tr class="attendance-table-body-row">
                            <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                            <td class="attendance-col">
                                    <?= attendanceArray[0][saptamana].value ?>
                            </td>  
                        <?}?>
                    </tr>
                </tbody>
        
            </table>
        </section>


        <section>
        
                <div class="attendance-class">
                    <p>
                           
                        Prezente/Observatii Laborator
                    </p>
                </div>
            
                <table class="attendance-table">
                    <thead class="attendance-table-head">
                        <tr class="attendance-table-head-row">
                            <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                                <th colspan="1">
                                    W
                                    <?= saptamana+1 ?>
                                </th>
                                <?}?>
                        </tr>
                    </thead>
                    <tbody class="attendance-table-body">
                        <tr class="attendance-table-body-row">
                                <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                                        <td class="attendance-col">
                                                <?= attendanceArray[0][saptamana].comment ?>
                                        </td>  
                                    <?}?>
                        </tr>
                    </tbody>
            
                </table>
            </section>






        </section>
        <?if(facebookStatus !== 'connected' && fbStatusLoaded === true){?>
            <button class="btn btn-submit" id="loginFb">Connect With Facebook</button><br>
        <?}?>
        <?if( isLoggedInGithub == "false"){?>
        <div>
            <button  class="btn btn-submit" id="connectWithGit"> Sign in with GitHub</button></a>
        </div>
        <?}?>
        <div>
            <button  class="btn btn-submit" id="refreshMediaData"> Refresh media data</button></a>
        </div>
    </div>
</div>