<div class="flex-container-center">
    <div class="box-container">

        <a id="shareStudOnFaceBook" class="share share-icon share-facebook" ><i class="fa fa-facebook"></i><span>Share on Facebook</span></a>
        <a id="shareStudOnLinkedIn" class="share share-icon share-linkedIn" ><i class="fa fa-linkedin"></i><span>Share on LinkedIn</span></a>
        <? if(twitterAuthStatus == "confirmed") {?> 
            <a id="shareStudOnTwitter" class="share share-icon share-twitter" ><i class="fa fa-twitter"></i><span>Share on Twitter</span></a>
        <? } ?>

        <section class="box">
            <div class="username-class-parent">
                <div class="username-class-child">
                    <p>
                        <?= studentName ?>
                    </p>
                </div>
            </div>
        </section>

        <section class="box">
            <div class="group">
                <?= group ?>
            </div>
        </section>
        <section>

            <div style="overflow-x:auto">
                <table class="student-table">

                    <thead class="student-table-head">
                        <tr class="student-table-head-row">
                            <? for(let column of tableHeader) { ?>
                                <th>
                                    <?= column ?>
                                </th>
                                <?}?>
                        </tr>
                    </thead>
                    <tbody class="student-table-body">
                        <? for(let [index, user] of info.entries()) { ?>
                            <tr class="student-table-body-row 
                            <? if (user.username == username ) 
                                {?> chosen-student 
                                    <?}else{?> 
                                        regular-student<?}?> ">
                                <td>
                                    <?= user.firstName ?>
                                </td>
                                <td>
                                    <?= user.lastName?>
                                </td>
                                <td>
                                    <?= user.classesMark?> /10
                                </td>
                                <td>
                                    <?= user.gitMark?> /10
                                </td>
                                <td>
                                    <?= user.linkedinMark?> /10
                                </td>
                                <td>
                                    <?= user.finalMark?> /10
                                </td>
                                <td>
                                    <?= user.willPromote?>
                                </td>
                            </tr>
                            <?}?>
                    </tbody>
                </table>
            </div>

        </section>
        <? if(datarefreshed) { ?>
            <section>

                <div class="attendance-class">
                    <p>
                        Note Laborator
                    </p>
                </div>

                <table class="attendance-table">
                    <thead class="attendance-table-head">
                        <tr class="attendance-table-head-row">
                            <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                                <th colspan="1">
                                    W
                                    <?= saptamana+1 ?>
                                </th>
                                <?}?>
                        </tr>
                    </thead>
                    <tbody class="attendance-table-body">
                        <tr class="attendance-table-body-row">
                            <? for(attendance of identity.attendanceComments) { ?>
                                <td class="attendance-col">
                                    <?=attendance.value?>
                                </td>
                                <?}?>
                        </tr>
                    </tbody>

                </table>
            </section>


            <section>

                <div class="attendance-class">
                    <p>

                        Prezente/Observatii Laborator
                    </p>
                </div>

                <table class="attendance-table">
                    <thead class="attendance-table-head">
                        <tr class="attendance-table-head-row">
                            <? for(saptamana=0;saptamana<13;saptamana++) { ?>
                                <th colspan="1">
                                    W
                                    <?= saptamana+1 ?>
                                </th>
                                <?}?>
                        </tr>
                    </thead>
                    <tbody class="attendance-table-body">
                        <tr class="attendance-table-body-row">
                            <? for(attendance of identity.attendanceComments) { ?>
                                <td class="attendance-col">
                                    <?=attendance.comment?>
                                </td>
                                <?}?>
                        </tr>
                    </tbody>

                </table>
            </section>
            <?}?>






                </section>
                <?if(facebookStatus !== 'connected' && fbStatusLoaded === true){?>
                    <button class="btn btn-submit" id="loginFb">Connect With Facebook</button>
                    <br>
                <?}?>
                        <?if( isLoggedInGithub == "false"){?>
                            <div>
                                <button class="btn btn-submit" id="connectWithGit"> Sign in with GitHub</button>
                                </a>
                            </div>
                            <? } ?>
                                <?if( isLoggedInLinkedin == "false"){?>
                                    <div>
                                        <button class="btn btn-submit" id="connectWithLk"> Sign in with LinkedIn</button>
                                        </a>
                                    </div>
                                    <? } ?>
                                        <div>
                                            <button class="btn btn-submit" id="refreshMediaData"> Refresh media data</button>
                                            </a>
                                        </div>
                                        <div>
                                                <? if(twitterAuthStatus == "waiting") {?>
                                                    <button id="twitterbuttonstd" class="btn btn-submit">Connect With Twitter</button><br>
                                                <? } ?>
                                            
                                                <? if(twitterAuthStatus == "running") {?>
                                                    <input id="twitterpinfieldstd" placeholder="twitter PIN">
                                                    <button id="entertwitterpinstd">Confirm</button><br>
                                                <? } ?>

                                                <button id="twitterinfo">twitter</button>
                                        </div>
    </div>
</div>