<div class="flex-container-center register-container">
    <div class="register-box">
        <h3>Sign Up</h3>
        <label for="username" class="label">Username</label>
        <input id="username" type="text" name="username" placeholder="Username">
        <label for="email" class="label">Email</label>
        <input id="email" type="text" name="email" placeholder="Email@domain.com">
        <label for="password" class="label">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">
        <label for="password2" class="label">Re-type your password</label>
        <input id="password2" type="password" name="password2" placeholder="Re-type your password">
        <label for="grupa" class="label grupa">Grupa</label>
        <select id="grupa" class="select">
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="B3">B3</option>
            <option value="B4">B4</option>
        </select><br>
        <button id="submit" class="btn btn-submit">Register</button>
    </div>
</div>