.group-box {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background: rgba(228, 228, 228, 0.486);
    -moz-box-shadow: 0 0 3px #535353;
    -webkit-box-shadow: 0 0 3px #535353;
    box-shadow: 0 0 3px #535353;
    align-items: center;
}

.back {
    margin-top: -1%;
    position: absolute;
    left: 50%;
    width: auto !important;
    transform: translate(-50%, 0%);
}

.save {
    margin-top: -1%;
    position: absolute;
    left: 50%;
    width: auto !important;
}

.flex-container-center h3 {
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.flex-container-center h3::after {
    content: ' ';
    width: 100%;
    display: block;
    height: 2px;
    border: 5px;
    margin-top: 5px;
    background: radial-gradient(rgb(109, 109, 109), rgba(228, 228, 228, 0.9), rgba(255, 255, 255, 0.5));
}

table.students-table {
    margin-top: 90px;
    font-family: "Helvetica";
    border: 1px solid #1C6EA4;
    background-color: #FFF;
    color: #FFFFFF;
    width: 100%;
    height: auto;
    text-align: left;
    border-collapse: collapse;
    border: none;
    overflow: hidden;
}

table.students-table td, table.students-table th {
    border: none;
    padding: 3px 2px;
}

table.students-table tbody td {
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: normal;
    color: #666666;
    display: table-cell;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    max-width: 250px;
}

table.students-table tbody tr:hover {
    background-color: #ececff;
}

table.students-table tr:nth-child(even) {
    background: #E7E7E7;
}

table.students-table thead {
    background: #3f51b5;
}

table.students-table thead th {
    font-size: 18px;
    font-weight: unset;
    color: #FFFFFF;
    text-align: left;
    min-width: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
}

table.students-table tfoot td {
    font-size: 14px;
}

.edit-student-box {
    font-size: 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    background-color: #f9f9f9 !important;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.edit-save-btn {
    margin-top: 10px;
}

.edit-btn {
    font-size: 14px;
    color: white;
    height: 20px;
    background: #545ccf;
    border: none;
    width: 40px;
    box-shadow: 0 0 3px #333;
    cursor: pointer;
    outline: none;
}