<div class="flex-container-center admin-container">
    <div>
        <button class="switcher invite arrow" id="inviteButton">Invite teacher</button>
        <br>
        <button class="switcher overview arrow" id="overviewButton">Accounts overview</button>
        <br>
        <button class="switcher group-management arrow" id="groupManagementButton">Group Management</button>
        <br>
    </div>
    <?if (control==0) {?>
        <div class="box-container">
            <h3>Invite a teacher!</h3>
            <input type="text" name="Email" placeholder="Email" data-bind="requestedEmail">
            <button id="inviteteacher" class="btn btn-submit">Send invitation</button>
            <? if(invitationWasSuccess) {?>
                <p>Invitations was sent successfully!</p>
            <? } ?>
            <? if(inviteError) {?>
                <p class="message error"><?= inviteErrorMessage ?></p>
            <? } ?>
            
        </div>
    <? } ?>
    <?if (control==1) {?>
        <div class="adm-user-list box-container">
            <h1 class="adm-user-list-header"> Registered teachers</h1>
            <div class="table-wrap">
                <table class="management-table">
                    <thead>
                    <tr>
                    <th>Profesor</th>
                    <th>Grupa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <? for(let prof of professors) { ?>
                        <tr>
                        <td><div class="cell"><?= prof.firstName + ' ' + prof.lastName  ?></div></td>
                        <td><div class="cell"><?=ProfessorService.groupsAsString(prof.groups) ?></div></td>
                        </tr>
                    <? } ?>
                    </tbody>
                </table>
            </div>
            <h1 class="adm-user-list-header"> Registered students </h1>
            <button class="btn btn-submit" id="add-student">Add student</button>
            <div class="table-wrap">
                <table class="management-table">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Grupa</th>
                        </tr>
                    </thead>
                    <tbody>
                    <? for(let studentline of students) { ?>
                        <tr>
                        <td><div class="cell"><?=studentline.firstName + ' ' + studentline.lastName ?></div></td>
                        <td><div class="cell"><?=studentline.group?></div></td>
                        </tr>
                    <? } ?>
                    </tbody>
                </table>
            </div>
        </div>
    <? } ?>
    <?if (control==2) {?>
        <div class="adm-group-container box-container">
            <h3>Group Management</h3>
            <div id="modal" class="modal">
                <div id="modalcontent" class="modal-content">
                    <button id="modalclose" class="modal-close">x</button>
                    <div class="modal-table-wrap">
                        <table class="modal-management-table">
                            <thead>
                                <tr>
                                    <th>Groups</th>
                                    <th>Assigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <? for(let group of groups) { ?>
                                <tr>
                                    <td class="modal-cell"><?= group.name ?></td>
                                    <td class="modal-cell"><button id="modalButton<?=group.id?>" class="modal-no">No</button></td>
                                </tr>
                                <? } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-wrap">
                <table class="management-table">
                    <thead>
                    <tr>
                    <th>Teachers</th>
                    <th>Groups</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <? for(let prof of professors) {?>
                        <tr>
                        <td><div class="cell"><?=prof.firstName + ' ' + prof.lastName ?></div></td>
                        <td><div class="cell" id ="profGroups<?=prof.id?>" ><?=ProfessorService.groupsAsString(prof.groups) ?></div></td>
                        <td><div class="cell last"><button id ="tableBtn<?=prof.id?>" class="table-button">Edit</button></div></td>
                        </tr>
                    <? } ?>
                    </tbody>
                </table>
                <button class="btn btn-submit" id="add-group">Add group</button>
            </div>
        </div>
        <? } ?>
        <?if (control==3) {?>
            <div class="box-container">
                <h3>Add group!</h3>
                <input type="text" name="name" placeholder="Name" data-bind="groupToAdd">
                <button id="submit-add-group" class="btn btn-submit">Submit</button>             
            </div>
        <? } ?>
        <?if (control==4) {?>
            <div class="box-container add-student-container">
                <h3>Add student!</h3>
                <input type="text" name="firstname" placeholder="First name" data-bind="studentFirstName">
                <input type="text" name="lastname" placeholder="Last name" data-bind="studentLastName">
                <input type="text" name="cnp" placeholder="CNP" data-bind="studentCnp">
                <label class="group-label">Group</label>
                <br>
                <select class="group-select" id="student-group">
                    <?for(let group of groups) {?>
                    <option value="<?= group.name ?>"><?= group.name?></option>    
                    <?}?>
                </select>
                <br>
                <br>
                <button id="submit-add-student" class="btn btn-submit">Submit</button>
                <?if(invalidAddStudent){?>
                    <p class="message error">All inputs are required!</p>
                <?}?>
            </div>
        <? } ?>
</div>