<div class="flex-container-center admin-container">
    <div>
        <button class="switcher invite arrow" id="inviteButton">Invite teacher</button>
        <br>
        <button class="switcher overview arrow" id="overviewButton">Accounts overview</button>
        <br>
        <button class="switcher group-management arrow" id="groupManagementButton">Group Management</button>
        <br>
    </div>
    <?if (control==0) {?>
        <div class="adm-prof-req">
            <h3>Invite a teacher!</h3>
            <input type="text" name="Email" placeholder="Email" data-bind="requestedEmail">
            <button id="inviteteacher" class="btn btn-submit">Send invitation</button>
            <? if(invitationWasSuccess) {?>
                <p>Invitations was sent successfully!</p>
            <? } ?>
            <? if(inviteError) {?>
                <p><?= inviteErrorMessage ?></p>
            <? } ?>
            
        </div>
    <? } ?>
    <?if (control==1) {?>
        <div class="adm-user-list">
            <h1 class="adm-user-list-header"> Registered teachers</h1>
            <table class="adm-user-teacher-table">
                <thead class="adm-user-teacher-table-head">
                    <tr class="adm-user-teacher-table-head-row">
                        <td> Profesor </td>
                        <td> Grupa </td>
                    </tr>
                </thead>
                <tbody class="adm-user-teacher-table-body">
                    <?for(let teacherline of teachers) {?>
                        <tr class="adm-user-teacher-table-body-row">
                            <td class="adm-user-teacher-table-body-col">
                                <?=teacherline.username ?>
                            </td>
                            <td class="adm-user-teacher-table-body-col">
                                <?=teacherline.grupa?>
                            </td>
                        </tr>
                        <? }?>
                </tbody>
            </table>
            <h1 class="adm-user-list-header"> Registered students</h1>
            <table class="adm-user-students-table">
                <thead>
                    <tr class="adm-user-students-table-head-row">
                        <td> Student </td>
                        <td> Grupa </td>
                    </tr>
                </thead>
                <tbody>
                    <?for(let studentline of students) {?>
                        <tr class="adm-user-students-table-body-row">
                            <td class="adm-user-students-table-body-col">
                                <?=studentline.firstName ?> <?=studentLine.lastName ?>
                            </td>
                            <td class="adm-user-students-table-body-col">
                                <?=studentline.group?>
                            </td>
                        </tr>
                        <? }?>
                </tbody>
            </table>
        </div>
    <? } ?>
    <?if (control==2) {?>
        <div class="adm-group-container">
            <h3>Group Management</h3>
            <div id="modal" class="modal">
                <div id="modalcontent" class="modal-content">
                    <button id="modalclose" class="modal-close">x</button>
                    <div class="modal-table-wrap">
                        <table class="modal-management-table">
                            <thead>
                                <tr>
                                    <th>Groups</th>
                                    <th>Assigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <? for(let group of groups) { ?>
                                <tr>
                                    <td class="modal-cell"><?=group.name ?></td>
                                    <td class="modal-cell"><button id="modalButton<?=group.id?>" class="modal-no">No</button></td>
                                </tr>
                                <? } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-wrap">
            <table class="group-management-table">
                <thead>
                <tr>
                <th>Teachers</th>
                <th>Groups</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <? for(let prof of professors) {?>
                    <tr>
                    <td><div class="cell"><?=prof.firstName + ' ' + prof.lastName ?></div></td>
                    <td><div class="cell" id ="profGroups<?=prof.id?>" ><?=ProfessorService.groupsAsString(prof.groups) ?></div></td>
                    <td><div class="cell last"><button id ="tableBtn<?=prof.id?>" class="table-button">Edit</button></div></td>
                    </tr>
                <? } ?>
                </tbody>
            </table></div>
        </div>
        <? } ?>
</div>