<div align="center">
    <h2>Welcome!</h2>
</div>
<?if(role !== '') {?>
    <div>
        <br>
        <? if(role == "prof") { ?>
            <? if(twitterAuthStatus == "waiting") {?>
                <button id="twitterbuttonstd">Connect With Twitter</button>
                <br>
            <? } ?>

            <? if(twitterAuthStatus == "running") {?>
                <input id="twitterpinfieldstd" placeholder="twitter PIN">
                    <button id="entertwitterpin">Confirm</button>
                    <br>
            <? } ?>

            <? if(twitterAuthStatus == "confirmed") {?>
                <button id="sharetwitterpoststd">Share something</button>
            <? } ?>
        <? } ?>

    </div>
    <br>
    <br>
    <br>
    <div style="margin-top: 30%"> 
        <input id="linkedpinfield" placeholder="LinkedIn PIN">
        <button id="enterlinkedinpin">Confirm</button>
        <br>
    </div>

    <?}?>