<div class="flex-container-center register-container">
    <div class="register-box">
        <h3>Sign Up</h3>
        You are registering with the email : <?= regemail ?>
        <label for="username" class="label">Username</label>
        <input id="username" type="text" name="username" placeholder="Username" data-bind="regusername">
        <label for="password" class="label">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" data-bind="regpassword">
        <label for="password2" class="label">Re-type your password</label>
        <input id="password2" type="password" name="password2" placeholder="Re-type your password" data-bind="regpasswordCheck">
        <label for="cnp" class="label">CNP</label>
        <input id="cnp" type="text" name="cnp" placeholder="CNP" data-bind="regcnp">
        <br>
        <button id="regsubmit" class="btn btn-submit">Register</button>
        <? if(registerError === true) { ?>
            <p class="message error">Invalid input!</p>
        <?}?> 
        <? if(regend === true) { ?>
            <p class="regendgreen">Success!</p>
        <?}?> 
    </div>
</div>