<div class="flex-container-center register-container">
    <div class="box-container">
        <h3>Sign Up</h3>
        You are registering with the email : <?= regemail ?>
        <input id="username" type="text" name="username" placeholder="Username" data-bind="regusername">
        <input id="firstname" type="text" name="firstname" placeholder="First Name" data-bind="regfirstname">
        <input id="lastname" type="text" name="lastname" placeholder="Last Name" data-bind="reglastname">
        <input id="password" type="password" name="password" placeholder="Password" data-bind="regpassword">
        <input id="password2" type="password" name="password2" placeholder="Re-type your password" data-bind="regpasswordCheck">
        <input id="cnp" type="text" name="cnp" placeholder="CNP" data-bind="regcnp">
        <br>
        <button id="regsubmit" class="btn btn-submit">Register</button>
        <? if(registerError === true) { ?>
            <p class="message error">Invalid input!</p>
        <?}?> 
        <? if(regend === true) { ?>
            <p class="regendgreen">Success!</p>
        <?}?> 
    </div>
</div>