<section>
    <div class="username-class-parent">
        <div class="username-class-child">
            <p>
                <?= username ?>/<?= studentName ?>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="group">
        <?= group ?>
    </div>
</section>
<section>

    <div style="overflow-x:auto">
        <table class="student-table">

            <thead class="student-table-head">
                <tr class="student-table-head-row">
                    <? for(let column of tableHeader) { ?>
                        <th>
                            <?= column ?>
                        </th>
                    <?}?>
                </tr>
            </thead>
            <tbody class="student-table-body">
            <? for(let user of info) { ?>
                    <tr class="student-table-body-row 
                    <? if (user.username == username ) 
                        {?> chosen-student 
                            <?}else{?> 
                                regular-student<?}?> "  >
                        <td>
                            <?= user.username ?>
                        </td>

                        <td>
                            <?= user.nume ?>
                        </td>
                        <td>
                            <?= user.prezente ?>
                        </td>
                        <td>
                            <?= user.obs ?>
                        </td>
                        <td>
                            <?= user.sanse ?>
                        </td>
                    </tr>
                    <?}?>
                </tbody>
        </table>
    </div>
</section>
<?if(showPopup){?>
popup content

<?}?>