<section>
    <div class="username-class-parent">
        <div class="username-class-child">
            <p>
                <?= username ?>/
                    <?= studentName ?>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="group">
        <?= group ?>
    </div>
</section>
<section>

    <div style="overflow-x:auto">
        <table class="student-table">

            <thead class="student-table-head">
                <tr class="student-table-head-row">
                    <? for(let column of tableHeader) { ?>
                        <th>
                            <?= column ?>
                        </th>
                        <?}?>
                </tr>
            </thead>
            <tbody class="student-table-body">
                <? for(let user of info) { ?>
                    <tr class="student-table-body-row 
                    <? if (user.username == username ) 
                        {?> chosen-student 
                            <?}else{?> 
                                regular-student<?}?> ">
                        <td>
                            <?= user.username ?>
                        </td>

                        <td>
                            <?= user.nume ?>
                        </td>
                        <td>
                            <?= user.prezente ?>
                        </td>
                        <td>
                            <?= user.obs ?>
                        </td>
                        <td>
                            <?= user.sanse ?>
                        </td>
                    </tr>
                    <?}?>
            </tbody>
        </table>
    </div>

</section>

<section>

    <div class="attendance-class">
        <p>
            Prezente Curs/Laborator
        </p>
    </div>

    <table class="attendance-table">

        <thead class="attendance-table-head">
            <tr class="attendance-table-head-row">
                <? for(saptamana=1;saptamana<10;saptamana++) { ?>
                    <th colspan="2">
                        Saptamana
                        <?= saptamana ?>
                    </th>
                    <?}?>
            </tr>
        </thead>
        <tbody class="attendance-table-body">
            <tr class="attendance-table-body-row">
                <? for(saptamana=1;saptamana<10;saptamana++) { ?>
                    <td class="attendance-col">
                        <?=attendance[saptamana]?>
                    </td>
                    <td class="attendance-col">
                        <?=attendance[saptamana]?>
                    </td>
                    <?}?>
            </tr>
        </tbody>

    </table>
</section>

<section>
    <? for(let user of info) { ?>
        <? if(user.username===username) { ?>
            <? if(user.sanse==='NU') { ?>
                </div class="recommend-div">
                <p class="recommend-head"> Recomandari </p>
                <ul class="recommend-list">
                    <? for(let recommend of recommendations) { ?>

                        <li class="recommend-line">
                            <?= recommend ?>
                        </li>

                        <?}?>
                </ul>
                <div>

                    <?}?>
                        <?}?>
                            <?}?>

</section>
