.admin-container {
    margin-top: 20px;
}

.adm-prof-req {
    width: 350px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background: rgba(228, 228, 228, 0.486);
    -moz-box-shadow: 0 0 3px #535353;
    -webkit-box-shadow: 0 0 3px #535353;
    box-shadow: 0 0 3px #535353;
    text-align: center;
    position: absolute;
}

.adm-user-list {
    width: 600px;
    height: 250px;
    margin: 20px;
    margin-top: 320px;
    background: rgba(228, 228, 228, 0.486);
    -moz-box-shadow: 0 0 3px #535353;
    -webkit-box-shadow: 0 0 3px #535353;
    box-shadow: 0 0 3px #535353;
    text-align: center;
    position: absolute;
}

.adm-prof-req input{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.adm-prof-req input[type="text"] {
    background: rgb(255, 254, 254);
    box-shadow: 1px 1px 10px rgba(42, 44, 65, 0.22) inset;
    font-size: 15px;
    text-align: center;
    border: none;
    padding: auto;
}

.adm-prof-req .btn-submit {
    margin-top: 30px;
}


