@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans;
    background: #f7f7f7;
}

* {
    box-sizing: border-box;
    font-family: Open-Sans;
}

input {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.nav-bar {
    width: 100%;
    background-color: #3f51b5;
}

.nav-menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-list>.nav-menu-item {
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
}

.nav-menu-item a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav-menu-list>.nav-menu-item:hover {
    background-color: #22317f;
}

.flex-container-center {
    display: flex;
    justify-content: center;

}

.container {
    margin: 0 auto;
}

@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }
}

.btn {
    font-family: Open-Sans;
    cursor: pointer;
    min-width: 200px;
    line-height: 0px;
    height: 50px;
    padding: 15px;
    font-size: 18px;;
    border: none;
}

.btn:focus {
    box-shadow: 1px 1px 10px rgba(42, 44, 65, 0.5) inset;
}
.btn.btn-submit {
    background-color: #3f51b5;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn.btn-submit:hover {
    background-color: #22317f;
}

.message {
    font-size: 14px;
    color: white;
}

.message.error {
    color: #9E161D;
}

.framework-error {
    padding: 20px;
    margin: 20px;
    border: 2px solid #9E161D;
    background-color: #f8f8f8;
    color: #9E161D;
    font-family: Open-Sans;
    font-size: 14px;
}

.box-container {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    background-color: #f9f9f9 !important;
    min-width: 360px;
    padding: 30px;
    padding-top: 0px;
}

.box-container .btn-submit {
    margin-top: 25px;
    width: 100%;
}

.box-container input{
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}

.box-container input[type="text"],input[type="password"] {
    background: rgb(255, 254, 254);
    box-shadow: 1px 1px 4.5px rgba(42, 44, 65, 0.22) inset;
    font-size: 15px;
    text-align: center;
    border: none;
    padding: auto;
}

.box-container h3 {
    text-align: center;
}